.RCB {
  background-color: #a4261d;
}
.KKR {
  background-color: #5755a7;
}
.KXP {
  background-color: #d91c1f;
}
.CSK {
  background-color: #f7db00;
}
.RR {
  background-color: #da237b;
}
.MI {
  background-color: #13418b;
}
.SH {
  background-color: #f26d22;
}
.DC {
  background-color: #4f5db0;
}
.team-con {
  max-width: 700px;
}

.team-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-logo {
  width: 100%;
}
.latest-heading {
  font-family: 'Bree serif';
  color: #ffffff;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cards-container {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
